<div class="header">
    <div class="headerBoxes">
        <div class="headerBoxes2">talvez uma foto</div>
        <div class="headerBoxes2"><a href="/FrontEnd/home.html">Home</a></div>
        <div class="headerBoxes2"><a href="/FrontEnd/Views/pagina1.html">Pagina 1</a></div>
    </div>

    <div class="headerBoxes" style="font-size: 300%">
        DM Shield
    </div>

    <div class="headerBoxes">
        <div class="headerBoxes2"><a href="/FrontEnd/Views/pagina2.html">Pagina 2</a></div>
        <div class="headerBoxes2"><a href="/FrontEnd/Views/pagina3.html">Pagina 3</a></div>
        <div class="headerBoxes2">talvez outra foto</div>
    </div>
</div>