<div class="header">
    <div class="headerBoxes">
        <a href="#/Recursos" class="headerBoxes2">Recursos</a>
        <a href="#/Anotacoes" class="headerBoxes2">Anotações</a>
        <a href="#/Inimigos" class="headerBoxes2">Inimigos</a>
    </div>

    <div class="headerBoxes" style="font-size: 300%">
        DM Shield
    </div>

    <div class="headerBoxes">
        <a href="#/NPCs" class="headerBoxes2">NPCs</a>
        <a href="#/Mundo" class="headerBoxes2">Mundo</a>
        <a href="#/Criador" class="headerBoxes2">Sessões</a>
    </div>
</div>