<link rel="stylesheet" href="/FrontEnd/CSS/enemies.css">
<div>
    <div class="pagesHeader">
        <h1 class="font">Inimigos</h1>
        <a href="" ng-click="abrirCriacaoInimigo()" class="addButton">Adicionar inimigo</a>
    </div>
    <div class="filtros">

        <input type="text"
            ng-model="buscaNome"
            placeholder="Buscar inimigo..."
            class="inputFiltro">

        <select ng-model="ordenacao" class="selectFiltro"> 
            <option value="">Selecione um filtro</option>
            <option value="nome">Nome (A-Z)</option>
            <option value="-nome">Nome (Z-A)</option>
            <option value="dados.nd">ND (Crescente)</option>
            <option value="-dados.nd">ND (Decrescente)</option>
        </select>

    </div>

    <br><br>

    <div class="containerDivs">

        <div ng-repeat="inimigo in inimigos | filter: {nome: buscaNome} | orderBy:ordenacao" class="ficha">

            <div class="title"><h1>{{inimigo.nome}}</h1></div>
            <h5 class="enemiesTipe" style="color: darkgrey;"> {{inimigo.tipo}}</h5>
            <button ng-disabled="!combate.ativo" ng-click="adicionarAoCombate(inimigo)" class="addCombat">
                Adicionar ao Combate
            </button>
            <div class="enemyActions">
                <button ng-click="editarInimigo(inimigo)" class="enemyActionButton edit">Editar</button>
                <button ng-click="removerInimigo(inimigo)" class="enemyActionButton remove">Remover</button>
            </div>
            <hr>

            <div class="EnemiesInfo1">
                <p><strong>Vida:</strong> {{inimigo.vida}}</p>
                <p><strong>CA:</strong> {{inimigo.ca}}</p>
                <p><strong>ND:</strong> {{inimigo.dados.nd}}  ({{inimigo.dados.xp}}  XP)</p>
            </div>
            <hr>

            <div class="atributes">
                <h4>FOR: {{inimigo.dados.atributos.forca}} </h4>
                <h4>DES: {{inimigo.dados.atributos.destreza}}</h4>
                <h4>CON: {{inimigo.dados.atributos.constituicao}}</h4>
                <h4>INT: {{inimigo.dados.atributos.inteligencia}}</h4>
                <h4>SAB: {{inimigo.dados.atributos.sabedoria}}</h4>
                <h4>CAR: {{inimigo.dados.atributos.carisma}}</h4>
            </div>
            <div class="atributes">
                <h4>({{calcularMod(inimigo.dados.atributos.forca) >= 0 ? '+' : ''}}{{calcularMod(inimigo.dados.atributos.forca)}})</h4>
                <h4>({{calcularMod(inimigo.dados.atributos.destreza) >= 0 ? '+' : ''}}{{calcularMod(inimigo.dados.atributos.destreza)}})</h4>
                <h4>({{calcularMod(inimigo.dados.atributos.constituicao) >= 0 ? '+' : ''}}{{calcularMod(inimigo.dados.atributos.constituicao)}})</h4>
                <h4>({{calcularMod(inimigo.dados.atributos.inteligencia) >= 0 ? '+' : ''}}{{calcularMod(inimigo.dados.atributos.inteligencia)}})</h4>
                <h4>({{calcularMod(inimigo.dados.atributos.sabedoria) >= 0 ? '+' : ''}}{{calcularMod(inimigo.dados.atributos.sabedoria)}})</h4>
                <h4>({{calcularMod(inimigo.dados.atributos.carisma) >= 0 ? '+' : ''}}{{calcularMod(inimigo.dados.atributos.carisma)}})</h4>
            </div>

            <hr>

            <h3>Habilidades</h3>
            <ul>
            <li ng-repeat="h in inimigo.dados.habilidades">
                {{h.descricao}}
            </li>
            </ul>

            <h3>Resistências</h3>
            <ul><li>{{inimigo.dados.resistencias}}</li></ul>

            <h3>Imunidades</h3>
            <ul><li>{{inimigo.dados.imunidades}}</li></ul>

            <h3>Ataques</h3>
            <ul>
            <li ng-repeat="a in inimigo.dados.ataques">
                <strong>{{a.nome}}:</strong> {{a.dano}}
            </li>
            </ul>

        </div>
    </div>

</div>
