<div class="container">

  <h1>Criar Inimigo</h1>

  <label>Nome:</label>
  <input type="text" ng-model="novoInimigo.nome">

  <label>Tipo:</label>
  <input type="text" ng-model="novoInimigo.tipo" placeholder="Ex: Morto-vivo">

  <label>Vida:</label>
  <input type="number" ng-model="novoInimigo.vida">

  <label>CA:</label>
  <input type="number" ng-model="novoInimigo.ca">

    <h2>Atributos</h2>

    <div class="ataque-box">

        <input type="number" placeholder="Força"
            ng-model="novoInimigo.dados.atributos.forca">

        <span>
            ({{calcularMod(novoInimigo.dados.atributos.forca) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.forca)}}) 
        </span>

        <input type="number" placeholder="Destreza"
            ng-model="novoInimigo.dados.atributos.destreza">

        <input type="number" placeholder="Constituição"
            ng-model="novoInimigo.dados.atributos.constituicao">

        <input type="number" placeholder="Inteligência"
            ng-model="novoInimigo.dados.atributos.inteligencia">

        <input type="number" placeholder="Sabedoria"
            ng-model="novoInimigo.dados.atributos.sabedoria">

        <input type="number" placeholder="Carisma"
            ng-model="novoInimigo.dados.atributos.carisma">

    </div>

    <br><br>

  <label>ND:</label>
  <input type="number" ng-model="novoInimigo.dados.nd">

  <label>XP:</label>
  <input type="number" ng-model="novoInimigo.dados.xp">

  <h2>Habilidades</h2>

  <div ng-repeat="habilidade in novoInimigo.dados.habilidades track by $index" class="habilidade-box">
    
    <input type="text" placeholder="Descrição (ex: multi ataque, vantagem em percepção)"
           ng-model="habilidade.descricao">

    <button ng-click="removerHabilidade($index)">Remover</button>

  </div>
  <button ng-click="adicionarHabilidade()">+ Adicionar habilidade</button>
  <br><br>

  <h2>Resistências</h2>

  <div ng-repeat="resistencia in novoInimigo.dados.resistencias track by $index" class="resistencia-box">
    
    <input type="text" placeholder="Descrição (ex: Veneno)"
           ng-model="resistencia.descricao">

    <button ng-click="removerResistencia($index)">Remover</button>

  </div>
  <button ng-click="adicionarResistencia()">+ Adicionar resistencia</button>
  <br><br>

  <h2>Imunidades</h2>

  <div ng-repeat="imunidade in novoInimigo.dados.imunidades track by $index" class="imunidade-box">
    
    <input type="text" placeholder="Descrição (ex: Veneno)"
           ng-model="imunidade.descricao">

    <button ng-click="removerImunidade($index)">Remover</button>

  </div>
  <button ng-click="adicionarImunidade()">+ Adicionar imunidade</button>
  <br><br>

  <h2>Ataques</h2>

  <div ng-repeat="ataque in novoInimigo.dados.ataques track by $index" class="ataque-box">
    
    <input type="text" placeholder="Nome do ataque"
           ng-model="ataque.nome">

    <input type="text" placeholder="Dano (ex: 3d8 veneno)"
           ng-model="ataque.dano">

    <button ng-click="removerAtaque($index)">Remover</button>

  </div>
  <button ng-click="adicionarAtaque()">+ Adicionar Ataque</button>
  <br><br>
  <button ng-click="salvarInimigo()">Salvar Inimigo</button>

</div>