<link rel="stylesheet" href="/FrontEnd/CSS/enemies.css">
<div class="container">

  <h1 class="inputTitles">{{modoEdicao ? 'Editar Inimigo' : 'Criar Inimigo'}}</h1>

  <label>Nome:</label>
  <input type="text" ng-model="novoInimigo.nome" class="inputAdd">

  <label>Tipo:</label>
  <select ng-model="novoInimigo.tipo" class="inputAdd">
    <option value="" disabled>Selecione um tipo</option>
    <option value="Aberracoes">Aberrações</option>
    <option value="Bestas">Bestas</option>
    <option value="Celestiais">Celestiais</option>
    <option value="Construtos">Construtos</option>
    <option value="Dragoes">Dragões</option>
    <option value="Elementais">Elementais</option>
    <option value="Fadas">Fadas</option>
    <option value="Demonios (Fiends)">Demônios (Fiends)</option>
    <option value="Gigantes">Gigantes</option>
    <option value="Humanoides">Humanoides</option>
    <option value="Monstruosidades">Monstruosidades</option>
    <option value="Gosmas (Oozes)">Gosmas (Oozes)</option>
    <option value="Plantas">Plantas</option>
    <option value="Mortos-vivos">Mortos-vivos</option>
  </select>

  <label>Vida:</label>
  <input type="number" ng-model="novoInimigo.vida" class="inputAdd">

  <label>CA:</label>
  <input type="number" ng-model="novoInimigo.ca" class="inputAdd">

    <h2 class="inputSubtitles">Atributos</h2>

    <div class="ataque-box">

        <input type="number" placeholder="Força" ng-model="novoInimigo.dados.atributos.forca" class="inputAdd">
        <span>({{calcularMod(novoInimigo.dados.atributos.forca) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.forca)}}) </span>
        <input type="number" placeholder="Destreza" ng-model="novoInimigo.dados.atributos.destreza" class="inputAdd">
        <span>({{calcularMod(novoInimigo.dados.atributos.destreza) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.destreza)}}) </span>
        <input type="number" placeholder="Constituição" ng-model="novoInimigo.dados.atributos.constituicao" class="inputAdd">
        <span>({{calcularMod(novoInimigo.dados.atributos.constituicao) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.constituicao)}}) </span>
        <input type="number" placeholder="Inteligência" ng-model="novoInimigo.dados.atributos.inteligencia" class="inputAdd">
        <span>({{calcularMod(novoInimigo.dados.atributos.inteligencia) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.inteligencia)}}) </span>
        <input type="number" placeholder="Sabedoria" ng-model="novoInimigo.dados.atributos.sabedoria" class="inputAdd">
        <span>({{calcularMod(novoInimigo.dados.atributos.sabedoria) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.sabedoria)}}) </span>
        <input type="number" placeholder="Carisma" ng-model="novoInimigo.dados.atributos.carisma" class="inputAdd">
        <span>({{calcularMod(novoInimigo.dados.atributos.carisma) >= 0 ? '+' : ''}}{{calcularMod(novoInimigo.dados.atributos.carisma)}}) </span>

    </div>

    <br><br>

  <label>ND:</label>
  <input type="number" ng-model="novoInimigo.dados.nd" class="inputAdd">

  <label>XP:</label>
  <input type="number" ng-model="novoInimigo.dados.xp" class="inputAdd">

  <h2 class="inputSubtitles">Habilidades</h2>

  <div ng-repeat="habilidade in novoInimigo.dados.habilidades track by $index" class="habilidade-box">
    
    <input type="text" placeholder="Descrição (ex: multi ataque, vantagem em percepção)"
           ng-model="habilidade.descricao" class="inputAdd">

    <button ng-click="removerHabilidade($index)" class="addEntityButton">Remover</button>

  </div>
  <button ng-click="adicionarHabilidade()" class="buttonAddSkill">+ Adicionar habilidade</button>
  <br><br>



  <h2>Resistências</h2>

  <input type="text" ng-model="novoInimigo.dados.resistencias" placeholder="Lista (ex: Veneno, Contundente)" class="inputAdd">
  <br><br>

  <h2>Imunidades</h2>

  <input type="text" ng-model="novoInimigo.dados.imunidades" placeholder="Descrição (ex: Veneno, Contundente)" class="inputAdd">
  <br><br>

  <h2 class="inputSubtitles">Ataques</h2>

  <div ng-repeat="ataque in novoInimigo.dados.ataques track by $index" class="ataque-box">
    
    <input type="text" placeholder="Nome do ataque"
           ng-model="ataque.nome" class="inputAdd">

    <input type="text" placeholder="Dano (ex: 3d8 veneno)"
           ng-model="ataque.dano" class="inputAdd">

    <button ng-click="removerAtaque($index)" class="addEntityButton">Remover</button>

  </div>
  <button ng-click="adicionarAtaque()" class="buttonAddSkill">+ Adicionar Ataque</button>
  <br><br>
  <button ng-click="salvarInimigo()" class="addEntityButton">{{modoEdicao ? 'Salvar Alteracoes' : 'Salvar Inimigo'}}</button>
  <button ng-if="modoEdicao" ng-click="cancelarEdicaoInimigo()" class="buttonAddSkill">Cancelar Edicao</button>

</div>
